<h1>Sortablejs#index</h1>
<p>Find me in app/views/sortablejs/index.html.erb</p>
<% start = 1 %>
<% end_ = 6 %>
<ul data-controller = "position">
  <% start.upto(end_) do |n| %>
    <li>でぃんぐー<%= n %>号</li>
  <% end %>
</ul>




